@{
    ViewData["Title"] = "Welcome";
}

<div class="landing-page-image">
    <div>
        <p class="landing-page-quote">&quot; Alone we can do so little; together we can do so much."
        <span class="landing-page-author"><em>- Helen Keller</em></span></p>
    </div>
</div>